@import url('https://fonts.googleapis.com/css?family=Open+Sans|Indie+Flower|Noto+Serif');

@import './variables';

$title-font-family: Indie Flower, cursive;
$heading-font-family: Open Sans, sans-serif;
$body-font-family: Noto Serif, serif;

.text-title{
    font: 400% $title-font-family;
    line-height: 55px;
    padding-top: 15px;
}
.text-heading{
    font: 100% $heading-font-family;
}

.text-center{
    text-align: center;
}
.text-full{
    text-align: justify;
}

.text-primary{
    color: $primary-color !important;
}
.text-secondary{
    color: $secondary-color !important;
}
.text-tertiary{
    color: $tertiary-color !important;
}

h1,h2,h3,h4,h5,h6{
    font: 200% $heading-font-family;
}
.text-small{
    font-size: 75%;
}
.italic{
    font-style: italic;
}