@import 'variables';
@import 'text';
@import 'utilities';

body{
    font: 100% $body-font-family;
    font-size: 1.15rem;
    margin: 0;
    background-color: $bg-color;
}

header{
    box-sizing: border-box;
    padding: 15px;
    background-color: $bg-color2;

    .icon{
        width: 65px;
        height: 65px;
        background-color: $primary-color;
        border-radius: 50%;
    }
}

footer{
    padding: 15px;
    background-color: $bg-color2;
}

a{
    color: $primary-color;
    padding: 0 10px;
    text-decoration: none;

    &:hover, &.active{
        color: darken($primary-color, 35%);
    }
}

.container{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

main section{
    padding: 15px;
    margin-bottom: 35px;

    p{
        max-width: 550px;
    }

    .icon{
        width: 100px;
        height: 100px;
        background-color: darken($bg-color2, 5%);
        border-radius: 50%;
    }
}

section#home{
    background-color: $bg-color2;
    height: 50vh;

    @media screen and (min-width: 750px){
        height: calc(100vh - 95px);                
    }
}